<template>
    <v-flex xs12 sm10 lg6>
        <v-card>
            <v-img
                    src="https://www.logomoose.com/wp-content/uploads/2014/07/logopond-ebook2-01.png"
                    aspect-ratio="2.75"
            ></v-img>
            <v-card-title primary-title>
                <div class="desc">
                    <h3>{{ ebook.title }}</h3>
                    <div class="author">autor:  {{ ebook.author }}</div>
                    <div class="price">cena: {{ ebook.price }} zł</div>
                    <div class="price">okres wypożyczenia: 1 miesiąc</div>
                    <div class="description">{{ ebook.description }}</div>
                    <v-btn class="button" @click="clickAddToCart(ebook)" small flat color="red">do koszyka</v-btn>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
</template>

<script>
import axios from '~/plugins/axios';
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Book',
    computed: {
        ...mapState('ebooks', ['ebook']),
        currentMode() {
            return true;
        }
    },
    methods: {
        ...mapActions('cart', ['addToCart']),
        ...mapActions('alert', ['setAlert']),
        clickAddToCart(ebook) {
            this.addToCart(ebook);
            this.setAlert({ text: 'Dodano do koszyka!', type: 'success' });
        }
    },
    fetch({ store, params }) {
        return axios.get('/ebooks/' + parseInt(params.id)).then(res => {
            store.dispatch('ebooks/setBook', res.data.data);
        });
    }
};
</script>

<style lang="scss" scoped>
    .desc {
        text-align: center;
        margin: 0 auto;
        h3, .author, .price {
            margin-bottom: 12px;
        }
        .description {
            text-align: justify;
        }
    }
</style>
