<template>
    <v-layout row wrap>
        <v-flex pa-2 flexbox v-bind:key="index" v-for="(ebook, index) in ebooks" xs12 sm6 lg3>
            <v-card>
                <v-img
                        src="https://www.logomoose.com/wp-content/uploads/2014/07/logopond-ebook2-01.png"
                        aspect-ratio="2.75"
                ></v-img>
                <v-card-title primary-title>
                    <div class="desc">
                        <h3>{{ ebook.title }}</h3>
                        <div class="author">autor: {{ ebook.author }}</div>
                        <div class="price">cena: {{ ebook.price }} zł</div>
                        <div class="price">okres wypożyczenia: 1 miesiąc</div>
                        <v-btn :to="`ebooks/${ebook.id}`" small flat color="blue">zobacz produkt</v-btn>
                        <v-btn @click="clickAddToCart(ebook)" small flat color="red">do koszyka</v-btn>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>

</template>

<script>
import axios from '~/plugins/axios';
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Books',
    computed: {
        ...mapState('ebooks', ['ebooks'])
    },
    methods: {
        ...mapActions('cart', ['addToCart']),
        ...mapActions('alert', ['setAlert']),
        clickAddToCart(ebook) {
            this.addToCart(ebook);
            this.setAlert({ text: 'Dodano do koszyka!', type: 'success' });
        }
    },
    fetch({ store }) {
        return axios.get('/ebooks').then(res => {
            store.dispatch('ebooks/setBooks', res.data.data);
        });
    }
};
</script>

<style lang="scss" scoped>
    .desc {
        text-align: center;
        margin: 0 auto;
        h3, .author, .price {
            margin-bottom: 12px;
        }
    }
</style>
