<template>
  <div>
      <h1>sandBooks</h1>
      <h2>Wypożyczalnia książek i e-booków o tematyce Javascript</h2>
  </div>
</template>

<style lang="scss" scoped>
div {
    text-align: center;
}
</style>
