<template>
    <v-footer color="cyan" app>
        <v-spacer></v-spacer>
        <span class="white--text">&copy; 2018</span>
    </v-footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

