<template>
  <v-app id="inspire">
    <Menu />
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <nuxt />  
        </v-layout>
      </v-container>
    </v-content>
    <v-alert v-show="alert.show" class="alert"
            :value="true"
            :type="alert.type"
    >
      {{ alert.text }}
    </v-alert>
    <Footer />

  </v-app>
</template>

<script>
import Menu from '~/components/menu/Menu';
import Footer from '~/components/footer/Footer';
import { mapState } from 'vuex';

export default {
    middleware: ['initAuth'],
    components: { Menu, Footer },
    props: {
        source: String
    },
    computed: {
        ...mapState('alert', ['alert'])
    }
};
</script>

<style lang="scss" scoped>
  .alert {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 36px;
    margin: 0;
    border: 0;
    border-radius: 0;
  }
</style>
