<template>
    <v-flex xs12 sm10 lg6>
        <v-card class="pa-4">
            <div class="header-wrapper">
                <h2>{{ currentHeader }}</h2>
                <v-btn flat small @click="changeMode">{{ currentMode }}</v-btn>
            </div>
            <form @submit.prevent="submit" novalidate>
                <v-text-field
                    v-validate="'required|email'"
                    v-model="formData.email"
                    :error-messages="errors.collect('email')"
                    label="E-mail"
                    data-vv-name="email"
                    required
                />
                <v-text-field
                    v-validate="'required'"
                    v-model="formData.password"
                    type="password"
                    :error-messages="errors.collect('password')"
                    label="Hasło"
                    data-vv-name="password"
                    ref="password"
                    required
                />
                <v-text-field
                    v-if="!loginFormMode"
                    v-validate="'required|confirmed:password'"
                    v-model="formData.passwordConfirmation"
                    type="password"
                    :error-messages="errors.collect('passwordConfirmation')"
                    label="Potwierdź hasło"
                    data-vv-name="passwordConfirmation"
                    required
                />
                <div class="buttons-wrapper">
                    <v-btn type="submit" color="success">wyślij</v-btn>
                    <v-btn color="error" @click="clear">wyczyść</v-btn>
                </div>
            </form>
        </v-card>
    </v-flex>
</template>

<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate);
import { mapActions, mapState } from 'vuex';

export default {
    name: 'Authentication',
    $_veeValidate: {
        validator: 'new'
    },
    data() {
        return {
            formData: {
                email: '',
                password: '',
                passwordConfirmation: ''
            },
            loginFormMode: true
        };
    },
    computed: {
        ...mapState('authentication', ['logged']),
        currentMode() {
            return this.loginFormMode ? 'Zarejestruj się' : 'Zaloguj się';
        },
        currentHeader() {
            return this.loginFormMode ? 'Logowanie' : 'Rejestracja';
        }
    },
    methods: {
        ...mapActions('authentication', ['login', 'register']),
        ...mapActions('alert', ['setAlert']),
        clear() {
            Object.keys(this.formData).forEach(key => {
                this.formData[key] = '';
            });
            this.$validator.reset();
        },
        submit() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    if (this.loginFormMode) {
                        this.login(this.formData).then(() => {
                            if (this.logged) {
                                this.$router.push('/');
                                this.setAlert({ text: 'Zalogowałeś się!', type: 'success' });
                            } else {
                                this.setAlert({ text: 'Wprowadź poprawne dane!', type: 'error' });
                            }
                        });
                    } else {
                        this.register(this.formData).then(() => {
                            if (this.logged) {
                                this.$router.push('/');
                                this.setAlert({ text: 'Rejestracja przebiegła pomyślnie, jesteś zalogowany!', type: 'success' });
                            } else {
                                this.setAlert({ text: 'Rejestracja nie powiodła się!', type: 'error' });
                            }
                        });
                    }
                }
            });
        },
        changeMode() {
            this.loginFormMode = !this.loginFormMode;
        }
    }
};
</script>

<style lang="scss" scoped>
h2 {
    text-transform: uppercase;
    font-size: 20px;
}
.buttons-wrapper {
    margin-top: 24px;
    text-align: center;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
