<template>
    <v-layout wrap>
        <h1>Koszyk</h1>
        <p class="empty" v-if="!Object.keys(cart).length"> Koszyk jest pusty !</p>
        <v-flex v-if="Object.keys(cart).length" pa-1 flexbox v-bind:key="index" v-for="(item, index) in cart" xs12 sm12 lg12>
            <v-card>
                <v-card-title primary-title>
                    <div class="desc">
                        <div>ilość: {{ item.qty }}</div>
                        <div>{{ item.title }}</div>
                        <div class="author">autor: {{ item.author }}</div>
                        <div class="price">cena: {{ item.price }} zł</div>
                        <div class="price">razem: {{ (item.price * item.qty).toFixed(2) }} zł</div>
                        <span @click="clickRemove(item.id)" class="remove">usuń produkt</span>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex v-if="Object.keys(cart).length" pa-1 flexbox xs12 sm12 lg12>
            <v-card>
                <v-card-title primary-title>
                    <div class="desc">
                        <div>
                            <b>RAZEM: {{ (total).toFixed(2) }} zł</b>
                            <nuxt-link class="checkout" to="/checkout">Złóż zamówienie</nuxt-link>
                        </div>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Cart',
    computed: {
        ...mapState('cart', ['cart', 'total'])
    },
    methods: {
        ...mapActions('cart', ['removeFromCart']),
        ...mapActions('alert', ['setAlert']),
        clickRemove(id) {
            this.removeFromCart(id);
            this.setAlert({ text: 'Produkt został usunięty!', type: 'success' });
        }
    }
};
</script>

<style lang="scss" scoped>
    h1 {
        margin: 0 auto 24px;
    }
    .remove {
        color: red;
        cursor: pointer;
        margin: 12px 0 0;
        display: inline-block;
    }

    .empty {
        text-align: center;
        width: 100%;
    }

    .checkout {
        font-weight: 700;
        margin-top: 12px;
        display: block;
        text-transform: uppercase;
    }
</style>
