<template>
    <v-flex xs12 sm10 lg6>
        <v-card class="pa-4">
            <div class="header-wrapper">
                <h2>Dokończ zamówienie</h2>
            </div>
            <form @submit.prevent="submit" novalidate>
                <v-text-field
                        v-validate="'required|email'"
                        v-model="formData.email"
                        :error-messages="errors.collect('email')"
                        label="E-mail"
                        data-vv-name="email"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.firstname"
                        :error-messages="errors.collect('firstname')"
                        label="Imię"
                        data-vv-name="firstname"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.lastname"
                        :error-messages="errors.collect('lastname')"
                        label="Nazwisko"
                        data-vv-name="lastname"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.street"
                        :error-messages="errors.collect('street')"
                        label="Ulica"
                        data-vv-name="street"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.houseNumber"
                        :error-messages="errors.collect('houseNumber')"
                        label="Numer domu"
                        data-vv-name="houseNumber"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.city"
                        :error-messages="errors.collect('city')"
                        label="Miasto"
                        data-vv-name="city"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.zipCode"
                        :error-messages="errors.collect('zipCode')"
                        label="Kod pocztowy"
                        data-vv-name="zipCode"
                        required
                />
                <v-text-field
                        v-validate="'required'"
                        v-model="formData.phoneNumber"
                        :error-messages="errors.collect('phoneNumber')"
                        label="Numer telefonu"
                        data-vv-name="phoneNumber"
                        required
                />
                <div class="buttons-wrapper">
                    <v-btn class="submit-form" type="submit" color="success">Zamów z obowiązkiem zapłaty <span> ({{ total.toFixed(2) }} zł)</span></v-btn>
                    <p>Dostawa książki: + 20zł (kurier)</p>
                    <p>Dostawa e-booki: + 0zł</p>
                </div>
            </form>
        </v-card>
    </v-flex>
</template>

<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate);
import { mapActions, mapState } from 'vuex';

export default {
    name: 'Authentication',
    $_veeValidate: {
        validator: 'new'
    },
    data() {
        return {
            formData: {
                email: '',
                firstname: '',
                lastname: '',
                street: '',
                houseNumber: '',
                city: '',
                zipCode: '',
                phoneNumber: ''
            }
        };
    },
    computed: {
        ...mapState('cart', ['cart', 'total'])
    },
    methods: {
        ...mapActions('alert', ['setAlert']),
        ...mapActions('cart', ['removeAllCart']),
        clear() {
            Object.keys(this.formData).forEach(key => {
                this.formData[key] = '';
            });
            this.$validator.reset();
        },
        submit() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.removeAllCart();
                    this.setAlert({ text: 'Zamówienie zostało złożone!', type: 'success' });
                    this.$router.push('/');
                }
            });
        }
    }
};
</script>

<style lang="scss" scoped>
    h2 {
        text-transform: uppercase;
        font-size: 20px;
    }
    .buttons-wrapper {
        margin-top: 24px;
        text-align: center;
        p {
            text-align: left;
            margin-bottom: 0px;
        }
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin: 0 auto;
        }
    }

    .submit-form {
        margin-bottom: 12px;
        span {
            font-weight: 700;
            color: black;
            padding-left: 5px;
        }
    }
</style>
