<template>
<v-flex
    xs12
    sm8
    md6>
    <logo/>
</v-flex>
</template>

<script>
import Logo from '~/components/Logo.vue';

export default {
    components: {
        Logo
    }
};
</script>

<style scoped>
h1 {
    text-align: center;
}
</style>
