<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      right
      app
    >
      <v-list dense>
        <v-list-tile>
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link to="/">Strona Główna</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>book</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link to="/books">Książki</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>library_books</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link to="/ebooks">E-booki</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>shopping_cart</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link to="/cart">Koszyk</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="!logged">
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link to="/authentication">Logowanie / Rejestracja</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="logged">
          <v-list-tile-action class="v-list-tile-action">
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <a @click="logoutClick">Wyloguj</a>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="cyan" dark fixed app>
      <p v-if="logged"><b>{{ logged }}</b></p>
      <v-spacer></v-spacer>
      <v-toolbar-title>Menu</v-toolbar-title>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    </v-toolbar>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Menu',
    data() {
        return {
            drawer: false
        };
    },
    computed: {
        ...mapState('authentication', ['logged'])
    },
    methods: {
        ...mapActions('authentication', ['logout']),
        ...mapActions('cart', ['removeAllCart']),
        logoutClick() {
            this.logout().then(() => {
                this.$router.push('/authentication');
                this.removeAllCart();
            });
        }
    }
};
</script>

<style lang="scss" scoped>
.v-list-tile-action {
    min-width: 30px;
}
.logout {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}
</style>
