<template>
    <v-layout row wrap>
        <v-flex pa-2 flexbox v-bind:key="index" v-for="(book, index) in books" xs12 sm6 lg3>
            <v-card>
                <v-img
                        src="https://i.pinimg.com/originals/bb/de/47/bbde4716223d44379f0519e5c532ab32.jpg"
                        aspect-ratio="2.75"
                ></v-img>
                <v-card-title primary-title>
                    <div class="desc">
                        <h3>{{ book.title }}</h3>
                        <div class="author">autor: {{ book.author }}</div>
                        <div class="price">cena: {{ book.price }} zł</div>
                        <div class="price">okres wypożyczenia: 1 miesiąc</div>
                        <v-btn :to="`books/${book.id}`" small flat color="blue">zobacz produkt</v-btn>
                        <v-btn @click="clickAddToCart(book)" small flat color="red">do koszyka</v-btn>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>

</template>

<script>
import axios from '~/plugins/axios';
import { mapState, mapActions } from 'vuex';

export default {
    name: 'Books',
    computed: {
        ...mapState('books', ['books']),
        currentMode() {
            return true;
        }
    },
    methods: {
        ...mapActions('cart', ['addToCart']),
        ...mapActions('alert', ['setAlert']),
        clickAddToCart(book) {
            this.addToCart(book);
            this.setAlert({ text: 'Dodano do koszyka!', type: 'success' });
        }
    },
    fetch({ store }) {
        return axios.get('/books').then(res => {
            store.dispatch('books/setBooks', res.data.data);
        });
    }
};
</script>

<style lang="scss" scoped>
    .desc {
        text-align: center;
        margin: 0 auto;
        h3, .author, .price {
            margin-bottom: 12px;
        }
    }
</style>
